body {
    color: #3e7ca5;
  }
  
  .jumbotron {
    background-image: url("https://phil.cdc.gov//PHIL_Images/22881/22881_lores.jpg");
    background-size: 100% 100%;
    text-align: center;
  }
  
  .article-title, .article-p {
    padding: 20px;
  }
  form {
    padding: 5px;
  }
  
  #filter-btn {
    width: 100%;
  }